*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_white{
  color: #fff;
}

.my_grey{
  color: #A3A3A3;
}

/* IDEA: regole per stile scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}
/* IDEA: fine regole stile scrollbar */

/* aside */
aside{
  float: left;
  height: calc(100vh - 100px);
  min-height: 500px;
  margin-bottom: 100px;
  width: 230px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

aside a{
  color: #A3A3A3;
}

aside li:hover a,
aside a:hover{
  color: #fff;
  text-decoration: none;
}

aside li,
aside .aside_link{
  width: 100%;
  padding: 3px 8px;
}

.aside_top{
  width: 100%;
  flex-grow: 1;
}

.aside_top a img{
  margin: 10%;
}

.home_area li:hover {
  border-left: 2px solid #ADFF2F;
  cursor: pointer;
}

.list_area{
  max-height: 200px;
  overflow-y: auto;
}

.fa-plus-square{
  font-size: 2.5rem;
}

.aside_bottom{
  width: 100%;
}

.aside_bottom hr{
  background-color: #a3a3a3;
  margin: 10px;
}

.fa-user-circle{
  font-size: 2rem;
  margin-bottom: 10px;
}

/* aside per mobile */
.mobile_nav{
  display: none;
}

.mobile_nav_container{
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.prova_,
.prova_2{
  font-size: x-large;
}

.prova_ li{
  list-style: none;
}

/* header */

header{
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.header_container{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my_button{
color: #fff;
border-color: #fff;
padding: 1% 2%;
border-radius: 25px;
margin-right: 20px;
transition: 0.5s;
}

.btn-outline-secondary:hover{
  transform: scale(1.1);
  background-color: inherit;
  border-color: #fff;
}

/* main */

main{
  float: left;
  height: calc(100vh - 100px);
  width: calc(100% - 230px);
  overflow-y: auto;
  background-color: #141922;
  padding-top: 100px;
}

.list_container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.list_container li{
  display: inline-block;
  list-style: none;
  padding: 10px 10px 5px 10px;
  position: relative;
}

.list_container a{
  color: #A3A3A3;
}

.list_container li:hover a,
.list_container a:hover{
  color: #fff;
  text-decoration: none;
}

.hover_line {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 30px;
  transform: translateX(-50%);
  border-bottom: 1px solid #ADFF2F;
}

.list_container li:hover .hover_line{
  display: inline-block;
}

/* sezione img */

.img_size{
  width: 100%;
}

.recently_box_text{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

main h6{
  color: #7D7F84;
}

/* hover su img */

.img_hover:hover {
  filter: contrast(0.7);
  cursor: pointer;
}

.circle_play{
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.img_hover:hover .circle_play{
  display: inline-block;
  z-index: 999;
  color: red;
}

/* footer */

footer{
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 0 2%;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_left,
.footer_right{
  height: 80px;
  flex-grow: 1;
  align-content: center;
}

.footer_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer_left img{
  height: 100%;
}

.footer_center{
  height: 80px;
  flex-grow: 2;
  text-align: center;
}

.footer_center a:hover{
  color: #ADFF2F;
}

.center_play{
  display: flex;
  justify-content: space-around;
}

.play_line{
  height: 4px;
  width: 60%;
  background-color: grey;
  border-radius: 25px;
  top: 10px;
  position: relative;
}

.play_line_white{
  position: absolute;
  left: 50%;
  top: 60px;
  height: 4px;
  width: 8%;
  border-radius: 25px;
  background: red;
}

/* .play_line {
    animation: spin 5s linear infinite;
}
@keyframes spin {
    0% {
        background-color: green;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: green;
    }
} */

/* .play_line_white{
position: absolute;
color: #fff;
height: 4px;
width: 20%;
border-radius: 25px;
top: 10px;
} */

.footer_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.vol_line{
  height: 4px;
  width: 30%;
  background-color: grey;
  border-radius: 25px;
  margin-left: 15px;
  position: relative;
}




/* media per aside */
@media all and (max-width: 590px) {
  /* coumuni */
  aside{
    width: 80px;
  }
  .aside_top,
  .aside_bottom{
    display: none;
  }
  .mobile_nav{
    display: block;
  }
  header{
    width: calc(100% - 80px);
  }
  main{
    width: calc(100% - 80px);
  }
  .fa-redo-alt,
  .fa-random{
    display: none;
  }
 }
